extends layout

block content
    h1 This is Gadgets. page
    p Welcome to Pug #{title}
    - let items = results
    div.container-fluid
    div.row
        each item,index in items
            div.col-sm-2
            div
            div(class="col-sm-2" onclick=`buy (${index})`) Name: #{item.name}
            div(class="col-sm-2" onclick=`buy (${index})`) Size: #{item.quantity}
            div(class="col-sm-2" onclick=`buy (${index})`) Price: $#{item.price}
    script.
      function buy(itemNum){
        alert(`you purchased item ${itemNum+1}`)
     }

       
        