extends layout

block content
  h1= title
  p Welcome to #{title}
  button(type="button", class="btn btn-primary") Press Me 
   div.container
  div#mphDisplay
    | MPH #{mph} with change #{change}.
  button(onclick='goFaster()') Go Faster
  
  script.
    var mph = 20;
    var change = 1;
   function goFaster()
    {
       
        mph =mph+change;
        change++;
        document.getElementById('mphDisplay').textContent = `MPH ${mph} with change ${change}`;
    }
  


